<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Search for a Movie</h1>
            <form action="/movie-search" method="POST">
                <div class="form-group">
                    <input type="search" id="search" name="search" class="form-control" placeholder="Search for a movie" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="row mt-5 mb-5">
    <div class="col-md-6 m-auto">
        <ul class="list-unstyled">
            {{#each reviews}}
            <li class="media">
                <a class="d-flex" href="/movie/detail/{{this.movieID}}" role="button" aria-hidden="true">
                    {{#if this.imgURL}}
                    <img class="mr-3 w-25 img-thumbnail" src="{{this.imgURL}}" alt="{{this.movieName}} poster" aria-hidden="true" />
                    {{/if}}
                    <div class="media-body">
                        <h5 class="mt-3 mb-1 text-body">{{this.movieName}}</h5>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="text-capitalize text-secondary">{{this.userName}} <span>{{this.date}}</span></p>
                                <span class="badge badge-primary">{{this.rating}} of 5</span>
                                <span class="text-secondary">{{this.reviewString}}</span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

</div>