<div class="row">
    {{> messages }}
    <div class="col-12">
        <div class="media mt-5 mb-5 d-flex flex-column flex-md-row">
            <img src="{{results.Poster}}" class="mr-4 img-thumbnail" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{results.Title}}</h5>
                <p class="card-text">{{results.Plot}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Genre: </span>{{results.Genre}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Writer: </span>{{results.Writer}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Actors: </span>{{results.Actors}}</li>
                    <li class="list-group-item"><span class="font-weight-bold">Awards: </span>{{results.Awards}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <form action="/movie/add-review" method="POST">
            <div class="form-group">
                <label for="addDetailReview">Add a Review</label>
                <textarea class="form-control" id="addDetailReview" name="reviewString" rows="3" placeholder="What do you think?"></textarea>
            </div>
            <div class="form-group">
                <label for="addDetailReview">Add a Rating</label>
                <select class="form-control" name="rating" id="addDetailRating" placeholder="Rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <input type="hidden" name="movieID" value="{{results.imdbID}}" />
            <input type="hidden" name="movieName" value="{{results.Title}}" />
            <input type="hidden" name="imgURL" value="{{results.Poster}}" />
            {{#if login}}
            <button type="submit" class="btn btn-primary btn-block mt-3">Add Review</button>
            {{else}}
            <a class="btn btn-secondary btn-block mt-3" href="/users/login" role="button">Please login to add a review</a>
            {{/if}}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 mt-5 mb-5">
        <h5>Reviews</h5>
        {{#if reviews}}
        
        <ul class="list-group list-group-flush">
            {{#withSort reviews reverse='true'}}
            <li class="list-group-item">
                <p>{{this.userName}} <span>{{this.date}}</span></p>
                <span class="badge badge-primary">{{this.rating}} of 5</span>
                <span>{{this.reviewString}}</span>
                {{#eq this.userName ../user.name}}
                    <div class="mt-3">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal" data-id="{{this._id}}" data-string="{{this.reviewString}}" data-rating="{{this.rating}}">Edit
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{this._id}}" data-string="{{this.reviewString}}" data-rating="{{this.rating}}">Delete
                        </button>
                    </div>
                {{/eq}}
            </li>
            {{/withSort}}
        </ul>
        {{else}}
        <p>No reviews yet - be the first!</p>
        {{/if}}
    </div>
</div>

{{> edit-delete-review }}